*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100%;
    width: 840px;
}

.container{
    background-color:black;
    width: 400px;
    height: 690px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    border-radius: 25px;
    margin:auto;
    padding-top: 150px;
    /* text-align: center; */
    
}
.kutu{
    border:2px solid border;
    background-color: rgb(70, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    color: white;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.kutu:hover{
cursor: pointer;
}
   
.k17{
    grid-column: span 2;
    border-radius: 45px;
    text-align: left;
    padding-right: 55px;
}


.kutu.k1{
    background-color: rgb(183, 183, 183);
    color: black;
    font-weight: 400;
}
.kutu.k2{
    background-color: rgb(183, 183, 183);
    color: black;
    font-weight: 400;
}
.kutu.k3{
    background-color: rgb(183, 183, 183);
    color: black;
    font-weight: 400;
}

.kutu.k4{
    background-color: orange;
}
.kutu.k8{
    background-color: orange;
}
.kutu.k12{
    background-color: orange;
}
.kutu.k16{
    background-color: orange;
}

@media screen and (max-width:200px)
  



